body ,html{ margin:0px; background-color: white; }

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.notext-deco{
  text-decoration: none !important;
}

.notext-deco:hover{
  text-decoration: none !important;
}


.tab-nav-home-page{
  text-align: center;
  padding-bottom: 25px;
}

.tab-nav-home-page li{
  display: inline-block;
  padding: 0% 3%;
  cursor:pointer;
  transition:1s;
}

.tab-nav-home-page li:hover{
  background:rgba(0,0,0,0.2); 
  border-radius: 4px;
}

.tab-nav-home-page li a{
  color: white !important;
  font-size:2.7em;
  font-weight: 300;
}

.header-wraper{
  text-align: center;
  background: #3F51B5;
  position: relative;
  width: 100%;
}

#my-name{
  color: white; 
}

.designation{
  padding: 4px 25px;
  color: black;
  background: #FAF46A;    
  border-radius: 3px;
  font-style: italic;
  font-size: 1.1em;
}

.header-container{
  margin-bottom: 1.5%
}

.my-img{
  border-radius: 50%;
  height: 200px;
  margin-top: 2%;
}

/*materialze css start*/

footer.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
 
  padding: 5px 15x;
  background-color: #3F51B5;
}

.white-text {
  color: #FFFFFF !important;
}
.grey-text {
  color: #9e9e9e !important;
}
footer.page-footer .footer-copyright {
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(48, 63, 159, 1);
}

/*materialize css end*/