<div ng-if="!projectDetails" class="project-wrapper">
    <div>Project</div>
    <div class="cards-wrapper">
        <span ng-click="projectClicked($index)" ng-repeat="project in projects" class="project-card">
            <img ng-src="{{project.image}}">
            <div class="project-card-content">
                <span class="project-card-title">{{project.name}}</span>
            </div>
        </span>
    </div>
</div>
<div ng-if="projectDetails" ng-include="projectSelected"></div>
<div ng-if="projectDetails" ng-click="backBtnClicked()" class="floating-back-btn">
    <i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
</div>