<footer class="footer-wrapper">
  <div class="container">
    <div class="row socialize" style="padding:30px">
        <h5 class="white-text">LET'S SOCIALIZE</h5>
        <p>
            I'm very social and I'd love to hear from you! Feel free to send me an email, find me on Google
            Plus, follow me on Twitter and join me on Facebook.
        </p>
        <div class="follow-us">
            <a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://www.linkedin.com/in/ashishjpm" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a>
            <a href="https://github.com/ashishjpm" target="_blank"><i class="fa fa-github"></i></a>
            <a href="https://www.flickr.com/" target="_blank"><i class="fa fa-flickr"></i></a>
        </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2014 Copyright Text
    <a class="" href="#!">More Links</a>
    </div>
  </div>
</footer>