<div class="main-wraper">
  <header class="header-wraper">
      
      <div class="header-container">
          <img src="app/images/profilePic.jpg" alt="" class="my-img">
          <h2 id="my-name">Ashish Mishra</h2>
          <span class="designation">UI Developer</span>
      </div>

      <nav>
          <div class="nav-wrapper">
              <ul class="tab-nav-home-page">
                  <li><a class="notext-deco noselect">about me</a></li>
                  <li><a class="notext-deco noselect">resume</a></li>
                  <li><a class="notext-deco noselect">contact</a></li>
                  <li><a class="notext-deco noselect">resources</a></li>
              </ul>
          </div>
      </nav>

  </header>

  <main>
    
  </main>

  <div ng-include="'/app/views/footer.html'"></div>

</div>